* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
}

/* =============================== Top Navigation Bar (Blog, Portals, etc.) =================================*/
.top-navbar {
  background-color: #3b8925;
  height: 30px;
}

.top-navbar ul {
  display: flex;
  /* justify-content: center; */
  list-style: none;
  justify-content: flex-start;
}

.top-navbar li a {
  color: rgba(204, 233, 184, 0.87);
  font-weight: 300;
  font-size: 11px;
  padding: 6px;
}

.top-navbar li:hover {
  color: rgb(255, 255, 255);
}

.apply-now {
  background-color: #f9c74f;
  /* Yellowish */
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding: 3px 8px;
  /* border-radius: 5px; */
  text-decoration: none;
  margin-right: 15px;
}

.apply-now:hover {
  background-color: #fca311;
}

.social-media-icons {
  color: rgba(204, 233, 184, 0.87);
  word-spacing: 20px;
  padding: 3px;
}

.social-media-icons i:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.2s;
}

/* ======================================= main navbar (about to contact) ====================================== */

.main-navbar {
  background-color: #15580c;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-nav li {
  margin: 7px 14px;
}

.main-nav li a:hover {
  text-decoration: underline;
}

.main-nav ul {
  list-style: none;
  flex-grow: 1;
  margin-left: 80px;
}

.navbar-nav .nav-item {
  margin: 0px 20px;
  background-color: #15580c;
}

.navbar-nav .nav-link {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 11px;
  position: relative;
}

.navbar-nav .nav-link:hover {
  text-decoration: none;
  color: white;
}

.navbar-nav .nav-link span {
  font-style: italic;
  color: rgba(204, 233, 184, 0.87);
}

.navbar-nav .nav-link span:hover {
  color: white;
}

/* Hover effect for navbar links */
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #49bb29;
  /* Goldish color for the underline */
  bottom: -5px;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
  width: 130%;
}

/* Enable dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 94%;
  left: -90px;
  /* padding: 0; */
  margin-top: 6px;
  z-index: 1000;
  background-color: #000000be;
}

/* Style for dropdown menu */

.portal-dropdown-menu {
  margin-top: 0;
  border-radius: 5px;
  background-color: #000000be;
}

.dropdown-submenu .submenu {
  display: none;
  position: absolute;
  left: 60%;
  top: 20%;
  z-index: 1000;
  background-color: #000000be;
}

.dropdown-submenu:hover .submenu {
  display: block;
}

.city-dropdown-submenu .city-submenu {
  display: none;
  position: absolute;
  left: 52%;
  top: 5%;
  z-index: 1000;
  background-color: #000000be;
}

.city-dropdown-submenu:hover .city-submenu {
  display: block;
}

.b-dropdown-submenu .b-submenu {
  display: none;
  /* display: flex; */
  justify-content: flex-start;
  position: absolute;
  left: 52%;
  top: 18%;
  z-index: 1000;
  background-color: #000000be;
}

.b-dropdown-submenu:hover .b-submenu {
  display: block;
}

.kda-dropdown-submenu .kda-submenu {
  display: none;
  position: absolute;
  left: 52%;
  top: 32%;
  z-index: 1000;
  background-color: #000000be;
}

.kda-dropdown-submenu:hover .kda-submenu {
  display: block;
}

.nn-dropdown-submenu .nn-submenu {
  display: none;
  position: absolute;
  left: 52%;
  top: 48%;
  z-index: 1000;
  background-color: #000000be;
}

.nn-dropdown-submenu:hover .nn-submenu {
  display: block;
}

.hu-dropdown-submenu .hu-submenu {
  display: none;
  position: absolute;
  left: 52%;
  top: 80%;
  z-index: 1000;
  background-color: #000000be;
}

.hu-dropdown-submenu:hover .hu-submenu {
  display: block;
}

.nav-item a {
  color: #d8e0d8;
  font-size: 12px;
}

.dropdown-item:hover {
  background-color: #49bb29;
  width: 105%;
  /* height: 25px; */
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}

/* Optional: Adjust link styles */
.nav-link {
  text-decoration: none;
  color: rgba(204, 233, 184, 0.87);
  /* Adjust as needed */
}


/* ============================================== Banner Section ===================================================== */


.banner {
  background-image: url(assets/HIET-full.jpg);
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-color {
  background-color: #d8e0d8;
  height: 60vh;
  opacity: 70%;
}

.doc-heading h1 {
  color: #15580c;
  opacity: 100%;
  font-weight: 600;
}

.image {
  opacity: 100%;
}


/* ========================================= Hero Section =====================================================*/

.main-heading {
  color: #15580c;
  width: 98%;
  overflow: hidden;
}

/* .main-heading h1{
    animation: move 15s linear infinite;
}
@keyframes move{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
} */

.department-buttons {
  margin-top: 20px;
  width: 100px;
}

.department-buttons .btn {
  background-color: #15580c;
  color: white;
  width: 120%;
}

.btn a {
  list-style: none;
}

/* -------- HOD Message --------- */

.hod-msg h2 {
  color: #15580c;
  font-size: xx-large;
}

.hod-msg p {
  text-align: justify;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.hod-container {
  gap: 16px;
}

/* Responsive alignment */
@media (max-width: 576px) {
  .hod-container {
    flex-direction: column;
  }

  .hod-msg {
    text-align: center;
  }

  .hod-pic {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.about-heading h2 {
  color: #15580c;
  font-size: x-large;
  font-weight: 750;
}
.about-text {
  text-align: justify;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

/*----------- News Area ---------------*/

.card-text {
  font-size: small;
}

.card-header {
  background-color: #15580c;
}

.new-area {
  width: 290px;
  justify-content: center;
}

.news-content {
  animation: scroll-up 10s linear infinite;
}

@keyframes scroll-up {
  0% {
    top: 100%;
  }

  100% {
    top: -100%;
  }
}



.cs-text {
  line-height: 25px;
}

.cs-text p {
  text-align: justify;
}

.cs-text h3 {
  font-weight: 600;
}

/* ========================================== Footer ================================================*/
.footer-container {
  background-image: url(assets/Hamdard.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.footer-fluid {
  background-color: rgba(0, 0, 0);
  height: auto;
  opacity: 80%;
}

.footer-apply-now {
  margin-top: 30px;
  height: 40px;
}

.footer-apply-now button {
  width: 170px;
  background-color: transparent;
  border-color: white;
}

.footer-apply-now button:hover {
  background-color: white;
}

.footer-apply-now a {
  text-decoration: none;
  color: white;
}

.footer-apply-now button a:hover {
  color: black;
}

.footer-about h3 {
  opacity: 100%;
  color: white;
  font-size: large;
}

.footer-about p {
  opacity: 100%;
  color: white;
  font-size: 11px;
  line-height: 21px;
}

.footer-links-heading h3 {
  opacity: 100%;
  color: white;
  font-size: large;
  text-align: start;
}

.footer-links {
  color: white;
  opacity: 100%;
}
.footer-links li {
  list-style: none;
  font-size: 11px;
  line-height: 21px;
}

.footer-links li i {
  font-size: 7px;
}

.contact-heading h3 {
  color: white;
  opacity: 100%;
  font-size: large;
}

.contact-text {
  font-size: 11px;
  color: white;
  line-height: 21px;
}

.contact-text li {
  list-style: none;
}

.rights {
  font-size: 11px;
  color: white;
  line-height: 21px;
}

@keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.third-section {
  background-image: url(5/image\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: top;
  /* height: 80vh; */
}

.timetable-heading h5 {
  color: #15580c;
}

.last-card {
  position: relative;
  width: 23%;
  height: 47px;
  left: 104px;
  top: -39px;
  background-color: white;
}

/* Parent and Child Both are hover */

.border-changing:hover .last-card {
  border: 2px solid #0e3341 !important;
  background-color: rgb(175, 152, 175);
}

.border-changing:hover {
  cursor: pointer;
  /* border: 2px solid #0e3341; */
}


/* ================================================= Faculty page ====================================================== */
.faculty-heading h1{
color: #15580c;
font-weight: bold;
}

.faculty-card-btn{
  background-color: #15580c;
  color: white;
}

.faculty-card-btn:hover{
  background-color: #3b8925;
  color: white;
}

.faculty-card-title{
  color: #15580c;
}


/* ================================================= Societies ====================================================== */
.hu-societies h1{
color: #15580c;
font-weight: bold;
}

.society-heading h4{
  color: #15580c;
  font-weight: 600;
}



/* ================================================= Chat Bot ====================================================== */

/* Chatbot Icon Styles */
.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #15580c;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.chatbot-container {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1000;
}

.chatbot-header {
  background-color: #3b8925;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.chatbot-body {
  padding: 15px;
  height: 300px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.chatbot-input-container {
  display: flex;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
}

.chatbot-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.send-button {
  background-color: #3b8925;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #005f7f;
}

.user-message {
  background-color: #f4f4f4;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.bot-message {
  background-color: #3b8925;
  color: white;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}




/*======================================================== Login =================================================*/

.bg-blue{
  background: #15495E;

}

.icon {
  padding: 20px;
  background: #15495E;
  color: white;
  min-width: 50px;
  text-align: center;
}